<footer id = "bigfooter">
  <div style = "padding:15px;">
    <p>&copy; 2018 Copyright Front Connect. All rights reserved.</p>
  </div>
</footer>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>

</body>

</html>
