{{ partial "header" . }}

<main class = "content-box">

  <div class="intro">

    <div class="avatar">
      <h1>{{ .Title }}</h1>
    </div>

    <div style = "margin-top: 50px">
      <p>
        Front Connect is a collective of experienced engineers, with a deep passion for our field.

        Nowadays people call themselves in our field - "developer", "engineer", "architect", "craftsman", "codesmith",
        "wizard", "webmaster" - but that has no deeper meaning for us. We name our team players, because that is who we are.
        We strive to become part of the organization, to go into the teams to know - to understand - what is going on.
        Only then can we really contribute to the realization of the objectives.

        We value the quality and added value over self-interest, pragmatism and creativity over purism, the right
        technology over the latest technology, sharing the knowledge rather than appropriating it, honesty,
        openness and substantiated advice above telling what people want to hear.
      </p>
    </div>
  </div>

</main>

{{ partial "footer" . }}
