{{ partial "header" . }}

<main class = "content-box">

  <div class="intro">

    <div class="avatar">
      <h1>{{ .Title }}</h1>
    </div>

    <div style = "margin-top: 50px">
      <p>
        Front Connect is a software house which is focused on delivering high quality,
        responsive, high performance websites. We are composed of expert front end
        developers which aim to solve advanced customer problems on the frontend. Our goal
        is to provide the right perspective towards a solution while collaborating closely
        with the client.
      </p>
      <p>
        Front Connect also provide in house full day workshops both for frontend technologies.
      </p>
    </div>
  </div>

</main>

{{ partial "footer" . }}
